.modal{
    display: none;
    line-height: normal;
    position: fixed;
    z-index: 1;
    padding-top: 5vw;
    padding-left: 20vw;
    padding-right: 20vw;
    left: 0;
    top: 0;
    width: 60vw;
    max-width: 100%;
    overflow: auto;
}

.modal_content {
    background-color: #fefefe;
    text-align: left;
    margin: auto;

    padding: 1vw;
    border: 1px solid #888;
    width:80%;
}

.modal_content h2 {
    font-family: 'Hammersmith One', sans-serif;
    text-shadow: -.1vw .1vw #676767;
    font-size: 1.4vw;
}

.modal_info{
    font-family: Calibri;
   
    display: inline;
    word-break: break-word;

}

.changelog{
    line-height: .6vw;
}

.changelog h3{
    font-family: Calibri;
    font-size: 1.1vw;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 3vw;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1000px) {

    .modal{
        display: none;
        line-height: normal;
        position: fixed;
        z-index: 1;
        padding-top: 15vw;
        padding-left: 20vw;
        padding-right: 20vw;
        left: -20vw;
        top: 0;
        width: 100vw;
        max-width: 100%;
        overflow: auto;
    }

    .close {
        margin-right: 2vw;
        font-size: 6vw;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal_content h2 {
        font-size: 5vw;
        text-shadow: -.4vw .4vw #676767;
    }

    .modal_info{
        font-family: 'Hammersmith One', sans-serif;

    }



    .changelog h3{
        font-family: Calibri;
        font-size: 2vw;
    }

    .changelog{
        line-height: 1vw;
    }
}